.bg-dark {
    background-color: #2C2C2E !important;
}

.card {
    background-color: #2c2c2e;
    color: #ffffff;
}

.large-number {
    font-size: 26px;
    color: #FD6A34;
}

.sticky-footer {
    background-color: #1A1C1B !important;
    color: #ffffff;
}

.card-header {
    font-size: 20px !important;
}

.card-list-item {
    background-color: #2c2c2e;
    border-color: #ffffff;
}

.hr-black {
    border-color: #000000;
}

.list-coin-value {
    border-right-style: solid;
    border-right-color: #000000;
    border-right-width: 2px; 
}