.bg-dark {
    background-color: #2C2C2E !important;
}

.card {
    background-color: #2c2c2e;
    color: #ffffff;
}

/*
.colored-header {
    color: #FD6A34;
}
*/

.large-number {
    font-size: 26px;
    color: #FD6A34;
}

.sticky-footer {
    background-color: #1A1C1B !important;
    color: #ffffff;
}

.card-header {
    font-size: 20px !important;
}
