<!DOCTYPE html>
<html lang="en">

<head>
    <title>MyCryptoMonitor</title>

    <!-- Library CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- Custom CSS -->
    <link href="css/default.css" rel="stylesheet">
    <link href="css/dashboard.css" rel="stylesheet">
    <link href="css/theme.css" rel="stylesheet">
</head>

<body ng-app="MyCryptoMonitor" ng-controller="MarketRundownCtrl" class="fixed-nav sticky-footer bg-dark" id="page-top">
    <!-- Navigation -->
    <div ng-include src="'navigation.html'"></div>

    <!-- Content -->
    <div class="content-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6">
                    <div class="dash-card">
                        <div class="card-header">
                            Coins - Watchlist
                        </div>
                        <div class="card-body">
                            <div class="list-group">
                                <div ng-init="cardClicked = 'false'" ng-click="cardClicked = { 'true': 'false', 'false' : 'true'}[cardClicked]" style="margin-bottom: 15px; border-radius: 0px" ng-repeat="item in data.investmentData" class="list-group-item list-group-item-action flex-column align-items-start card-rundown">
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <h4 class="mb-1">#{{item.rank}} | {{item.name}} ({{item.symbol}})</h4>
                                        </div>
                                        <div class="col-lg-6 text-right">
                                            <small><i ng-show="cardClicked == 'false'" class="fa fa-arrow-left" aria-hidden="true"></i></small>
                                            <small><i ng-show="cardClicked == 'true'" class="fa fa-arrow-down" aria-hidden="true"></i></small>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-lg-6">
                                            <p class="mb-1"><b>Price - USD:</b> ${{item.price_usd | number:2}} <span ng-style="item['percent_change_24h'] > 0 && {'color':'green'} || item['percent_change_24h'] < 0 && {'color':'red'}">({{item.percent_change_24h | number:2}}%)</span></p>
                                            <p class="mb-1"><b>Price - BTC:</b> {{item.price_btc}} BTC</p>
                                        </div>

                                        <div class="col-lg-6">
                                            <p class="mb-1"><b>Portfolio Value: </b>${{item.portfolio_value_usd | number:2}}</p>
                                        </div>
                                    </div>

                                    <div ng-hide="cardClicked == 'false'">
                                        <hr>

                                        <div class="row">
                                            <div class="col-lg-6">
                                                <p class="mb-1">24h Volume: ${{item["24h_volume_usd"]}}</p>
                                                <p class="mb-1">Market Cap: ${{item.market_cap_usd}}</p>
                                                <p class="mb-1">Available Supply: {{item.available_supply}} {{item.symbol}} </p>
                                                <p class="mb-1">Total Supply: ${{item.total_supply}} {{item.symbol}}</p>
                                            </div>
    
                                            <div class="col-lg-6">
                                                <p class="mb-1">Change (1hr): {{item.percent_change_1h}}%</p>
                                                <p class="mb-1">Change (24hr): {{item.percent_change_24h}}%</p>
                                                <p class="mb-1">Change (7d): {{item.percent_change_7d}}%</p>
                                            </div>
                                        </div>
    
                                        <hr>
                                        <textarea class="form-control" rows="2" id="comment"></textarea>
                                        <hr>
                                        <small>Last updated: {{item.last_updated * 1000 | date:'HH:mm:ss'}}</small>
                                    </div> 
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6">
                    <div class="dash-card">
                        <div class="card-header">
                            Coins - Watchlist
                        </div>
                        <div class="card-body">
                            <div class="list-group">
                                <div ng-init="cardClicked = 'false'" ng-click="cardClicked = { 'true': 'false', 'false' : 'true'}[cardClicked]" style="margin-bottom: 15px; border-radius: 0px" ng-repeat="item in data.investmentData" class="list-group-item list-group-item-action flex-column align-items-start card-rundown">
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <h4 class="mb-1">#{{item.rank}} | {{item.name}} ({{item.symbol}})</h4>
                                        </div>
                                        <div class="col-lg-6 text-right">
                                            <small><i ng-show="cardClicked == 'false'" class="fa fa-arrow-left" aria-hidden="true"></i></small>
                                            <small><i ng-show="cardClicked == 'true'" class="fa fa-arrow-down" aria-hidden="true"></i></small>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-lg-6">
                                            <p class="mb-1"><b>Price - USD:</b> ${{item.price_usd | number:2}} <span ng-style="item['percent_change_24h'] > 0 && {'color':'green'} || item['percent_change_24h'] < 0 && {'color':'red'}">({{item.percent_change_24h | number:2}}%)</span></p>
                                            <p class="mb-1"><b>Price - BTC:</b> {{item.price_btc}} BTC</p>
                                        </div>

                                        <div class="col-lg-6">
                                            <p class="mb-1"><b>Portfolio Value: </b>${{item.portfolio_value_usd | number:2}}</p>
                                        </div>
                                    </div>

                                    <div ng-hide="cardClicked == 'false'">
                                        <hr>

                                        <div class="row">
                                            <div class="col-lg-6">
                                                <p class="mb-1">24h Volume: ${{item["24h_volume_usd"]}}</p>
                                                <p class="mb-1">Market Cap: ${{item.market_cap_usd}}</p>
                                                <p class="mb-1">Available Supply: {{item.available_supply}} {{item.symbol}} </p>
                                                <p class="mb-1">Total Supply: ${{item.total_supply}} {{item.symbol}}</p>
                                            </div>
    
                                            <div class="col-lg-6">
                                                <p class="mb-1">Change (1hr): {{item.percent_change_1h}}%</p>
                                                <p class="mb-1">Change (24hr): {{item.percent_change_24h}}%</p>
                                                <p class="mb-1">Change (7d): {{item.percent_change_7d}}%</p>
                                            </div>
                                        </div>
    
                                        <hr>
                                        <textarea class="form-control" rows="2" id="comment"></textarea>
                                        <hr>
                                        <small>Last updated: {{item.last_updated * 1000 | date:'HH:mm:ss'}}</small>
                                    </div> 
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        <!-- Footer -->
        <footer class="sticky-footer">
            <div class="container">
                <div class="text-center">
                    <small>Copyright MyCryptoMonitor 2018</small>
                </div>
            </div>
        </footer>
    </div>

    <!-- Library JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>

    <!-- Custom JS -->
    <script src="js/app.js"></script>
    <script src="js/services/user.js"></script>
    <script src="js/services/data.js"></script>
    <script src="js/services/graph.js"></script>
    <script src="js/controllers/dashboard.js"></script>
    <script src="js/controllers/marketrundown.js"></script>
    <script src="js/controllers/reports.js"></script>
    <script src="js/controllers/charts.js"></script>
</body>

</html>
