<!DOCTYPE html>
<html lang="en">

<head>
    <title>MyCryptoMonitor</title>

    <!-- Library CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- Custom CSS -->
    <link href="css/default.css" rel="stylesheet">
    <link href="css/dashboard.css" rel="stylesheet">
    <link href="css/theme.css" rel="stylesheet">
</head>

<body ng-app="MyCryptoMonitor" ng-controller="SettingsCtrl" class="fixed-nav sticky-footer bg-dark" id="page-top">
    <!-- Navigation -->
    <div ng-include="'navigation.html'"></div>

    <div class="content-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6">
                    <div class="dash-card">
                        <div class="card-header">
                            Settings - Portfolio
                        </div>
                        <div class="card-body">
                            <div ng-init="isMouseover = 'false'" ng-mouseenter="isMouseover = 'true'" ng-mouseleave="isMouseover = 'false'" style="border-style: solid; border-width: 2px; border-color: white; margin-top:15px;" ng-repeat="item in portfolio">
                                <p style="width: 80%; padding-left: 2%; padding-top: 1%;" ng-hide="isMouseover == 'true'">{{item.id}}</p>
                                <p style="width: 80%; padding-left: 2%; padding-top: 1%; color: red;" ng-hide="isMouseover == 'false'"><i class="fa fa-times" aria-hidden="true"></i>  {{item.id}}</p>  
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="dash-card">
                        <div class="card-header">
                            Settings - Watchlist
                        </div>
                        <div class="card-body">
                            <p ng-repeat="item in watchlist">{{item.id}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <footer class="sticky-footer">
            <div class="container">
                <div class="text-center">
                    <small>Copyright © Thomas Juranek 2018</small>
                </div>
            </div>
        </footer>
    </div>

    <!-- Library JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>

    <!-- Custom JS -->
    <script src="js/app.js"></script>
    <script src="js/services/user.js"></script>
    <script src="js/services/data.js"></script>
    <script src="js/services/graph.js"></script>
    <script src="js/controllers/dashboard.js"></script>
    <script src="js/controllers/marketrundown.js"></script>
    <script src="js/controllers/reports.js"></script>
    <script src="js/controllers/charts.js"></script>
    <script src="js/controllers/settings.js"></script>

</body>

</html>
